/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  position: relative;
  color: white;
  height: 100vh;
  background: #e7ecf8 !important;
  font-family: 'Roboto', sans-serif !important;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
